@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(30, 30, 30);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#display{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size:2rem;
}